body {
  background-color: var(--text);
  color: var(--background);
}
.construct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
section .hero a button {
  position: relative;
  border: none;
  outline: none;

  font-family: "Oxanium", sans-serif;
  font-size: 1.6em;
  font-weight: 800;

  text-decoration: none;

  margin: 0.2em;
  padding: 0.6em 1em;

  background-color: var(--background);
  color: var(--primary);

  border: 0.1em solid var(--primary);
  z-index: 5;

  transition: 0.4s all ease-in-out;
}
.construct .btns a {
  padding: 10px;
  margin: 20px;
}
.construct .btns a button {
  text-decoration: none;
  color: var(--primary);
}
.construct .btns a button:active {
  color: var(--primary);
}
.construct .btns a button:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--text);
  margin-top: -0.2em;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
